body {
  text-align:center;
  background-image: url ("./resources/images/the-flatiron-building.png");
  background-color: #cccccc;
}
h1 {
  font-family: helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.header {

}
